<template name="integration">
  <div class="step-integration">
    <h1>Does your app need to connect with your website?</h1>
    <div class="row">
      <div class="small-10 small-centered columns">
        <p>This means you'll need to make an API (or Application Programming Interface.) It's how all your friendly apps talk to each other.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <img class="yes" src="/images/ConnectWebsite.png" />
        <div class="yes">Yes</div>
      </div>
      <div class="small-4 columns">
        <img class="no" src="/images/None.png" />
        <div class="no">No</div>
      </div>
      <div class="small-4 columns">
        <img class="unknown" src="/images/DontKnow.png" />
        <div class="unknown">I don't know</div>
      </div>
    </div>
  </div>
</template>
