<template name="design">
  <div class="step-design">
    <h1>How nice should your app look?</h1>
    <div class="row">
      <div class="small-10 small-centered columns">
        <p>Custom gestures, custom buttons, and custom transitions will cost you — it's not cheap being pretty.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <img class="barebone" src="/images/BareBones.png" />
        <div class="barebone">Bare-bones</div>
      </div>
      <div class="small-4 columns">
        <img class="stock" src="/images/Stock.png" />
        <div class="stock">Stock</div>
      </div>
      <div class="small-4 columns">
        <img class="beautiful" src="/images/Beautiful.png" />
        <div class="beautiful">Beautiful</div>
      </div>
    </div>
  </div>
</template>
