<template name="home">
  <div id="fullpage">
    <div class="section">
      {{> homepage}}
    </div>
    <div class="section">
      {{> type}}
    </div>
    <div class="section">
      {{> login}}
    </div>
    <div class="section">
      {{> profile}}
    </div>
    <div class="section">
      {{> payment}}
    </div>
    <div class="section">
      {{> rating}}
    </div>
    <div class="section">
      {{> integration}}
    </div>
    <div class="section">
      {{> design}}
    </div>
    <div class="section">
      {{> appicon}}
    </div>
  </div>
</template>

<template name="homepage">
  <div class="text-center">
    <img src="/images/Devices.png" />
    <h1>COST TO MAKE AN APP</h1>
    <div>Easily calculate the cost of a mobile application using this handy tool.</div>
    <a class="get-start button red radius">Get Started <i class="fa fa-arrow-right"></i></a>
  </div>
</template>
