<template name="type">
  <div class="step-type">
    <h1>What type of app are you building?</h1>
    <div class="row">
      <div class="small-10 columns small-centered">
        <p>Apple iOS is a better choice to reach a more engaged user base. Android has a broader reach, however, particularly in emerging markets, like Asia and Africa.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <img class="ios" src="/images/iOS.png" />
        <div class="ios">Apple iOS</div>
      </div>
      <div class="small-4 columns">
        <img class="android" src="/images/Android.png" />
        <div class="android">Android</div>
      </div>
      <div class="small-4 columns">
        <img class="ios_android" src="/images/AndroidAndiOS.png" />
        <div class="ios_android">Apple iOS and Android</div>
      </div>
    </div>
  </div>
</template>
