<template name="type">
  <div class="home">
    <a id="back" class="navbar-brand" href="{{pathFor 'home'}}">&lt; Back</a>
    <h1>Do people have to login?</h1>
    <div>An email login is generally best to start with unless your app will have tight integration with services like Facebook or Twitter, in which case social login is better.</div>
    <ul>
      <li><a id="ios">Apple iOS</a></li>
      <li><a id="android" href="/login">Android</a></li>
      <li><a id="ios_android" href="/login">Apple iOS and Android</a></li>
    </ul>
  </div>
</template>
