<template name="payment">
  <div class="step-payment">
    <h1>How will you make money from your app?</h1>
    <div class="row">
      <div class="small-10 small-centered columns">
        <p>Upfront cost is cheaper to build than in-app purchases but in-app purchase can produce higher returns if/when you have an engaged user base.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-4 medium-3 columns">
        <img class="upfront" src="/images/UpfrontCost.png" />
        <div class="upfront">Upfront Cost</div>
      </div>
      <div class="small-4 medium-3 columns">
        <img class="inapp" src="/images/InappPurchase.png" />
        <div class="inapp">In-app Purchases</div>
      </div>
      <div class="small-4 medium-3 columns">
        <img class="free" src="/images/None.png" />
        <div class="free">Free</div>
      </div>
      <div class="small-4 small-offset-4 medium-3 columns end">
        <img class="unknown" src="/images/DontKnow.png" />
        <div class="unknown">I don't know</div>
      </div>
    </div>
  </div>
</template>
