<template name="payment">
  <div class="home">
    <h1>How will you make money from your app?</h1>
    <div>Upfront cost is cheaper to build than in-app purchases but in-app purchase can produce higher returns if/when you have an engaged user base.</div>
    <ul>
      <li><a id="upfront" href="/rating">Upfront Cost</a></li>
      <li><a id="inapp" href="/rating">In-app Purchases</a></li>
      <li><a id="free" href="/rating">Free</a></li>
      <li><a id="unknown" href="/rating">I don't know</a></li>
    </ul>
  </div>
</template>
