<template name="rating">
  <div class="step-rating">
    <h1>Do people rate or review things?</h1>
    <div class="row">
      <div class="small-10 small-centered columns">
        <p>Keep in mind, ranking systems can vary in complexity and thus impact your budget.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <img class="yes" src="/images/Rate.png" />
        <div class="yes">Yes</div>
      </div>
      <div class="small-4 columns">
        <img class="no" src="/images/None.png" />
        <div class="no">No</div>
      </div>
      <div class="small-4 columns">
        <img class="unknown" src="/images/DontKnow.png" />
        <div class="unknown">I don't know</div>
      </div>
    </div>
  </div>
</template>
