<template name="appicon">
  <div class="step-appicon">
    <h1>Do you need an app icon?</h1>
    <div>Designing a quality app icon typically ranges from $500 - $2,000 but will help you stand out in the app store and on the device.</div>
    <div class="row">
      <div class="small-4 columns">
        <img class="yes" src="/images/AppIcon.png" />
        <div class="yes">Yes</div>
      </div>
      <div class="small-4 columns">
        <img class="no" src="/images/None.png" />
        <div class="no">No</div>
      </div>
      <div class="small-4 columns">
        <img class="unknown" src="/images/DontKnow.png" />
        <div class="unknown">I don't know</div>
      </div>
    </div>
  </div>
</template>
