<template name="contact">
<form class="contact row">
  <div class="small-10 small-offset-1 columns">
    <div class="row">
      <div class="small-6 small-centered columns text-center">
        <h1>Start Your Project</h1>
      </div>
    </div>
    <div class="row">
      <div class="headline small-7 columns">
        <div>Tell us more about your project. We are honoured to provide your a FREE review</div>
      </div>
      <div class="estimate small-5 columns text-center">
        <div><b>Your Estimated Budget</b></div>
        <div class="price">${{total}} USD</div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="small-6 columns">
        <label><b>I want work done on my</b>
          <input type="text" name="title" value="{{type}} app" />
        </label>
      </div>
      <div class="small-6 columns">
        <div class="row collapse">
          <label><b>For around</b></label>
          <div class="small-1 columns"><span class="prefix">$</span></div>
          <div class="small-8 columns">
            <input type="number" name="budget" value="{{total}}" />
          </div>
          <div class="small-3 columns">
            <span class="postfix">USD</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <label>
          <div>Include a link to your existing site or app if you have one. The more details we have about your project, the easier it is to match you with the right designer or developer.</div>
          <textarea name="detail" rows="10"></textarea>
        </label>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="small-6 columns">
        <label><b>First Name</b>
          <input type="text" name="first_name" />
        </label>
      </div>
      <div class="small-6 columns">
        <label><b>Last Name</b>
          <input type="text" name="last_name" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <label><b>Email</b>
          <input type="email" name="email" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-4 small-centered columns">
        <button type="submit" class="red button radius expand">Get Started <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</form>
</template>

<template name="success">
<div class="contact-success row">
  <div class="content small-10 small-centered columns">
    <div class="message row">
      <div class="small-10 small-centered columns">
        <h1>Great!</h1>
        <p>
          We wish you a great success. Our developer evangelist will contact you within 24 hours.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="small-9 small-centered columns">
        <p>In the meantime, feel free to share this tool with your friends who also have project ideas...</p>
      </div>
    </div>
    <div class="row">
      <div class="small-6 small-centered columns">
        <div class="row collapse">
          <div class="small-10 columns">
            <input type="text" value="http://costtomakeanapp.com" readonly="readonly">
          </div>
          <div class="small-2 columns">
            <div class="button postfix">C</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      Facebook
    </div>
  </div>
</div>
</template>