<template name="login">
  <div class="home">
    <h1>Do people have to login?</h1>
    <div>An email login is generally best to start with unless your app will have tight integration with services like Facebook or Twitter, in which case social login is better.</div>
    <ul>
      <li><a id="email" href="/profile">Email</a></li>
      <li><a id="social" href="/profile">Social</a></li>
      <li><a id="no" href="/profile">No</a></li>
      <li><a id="unknown" href="/profile">I don't know</a></li>
    </ul>
  </div>
</template>
