<template name="login">
  <div class="step-login">
    <h1>Do people have to login?</h1>
    <div>An email login is generally best to start with unless your app will have tight integration with services like Facebook or Twitter, in which case social login is better.</div>
    <div class="row">
      <div class="small-4 medium-3 columns">
        <img class="email" src="/images/Email.png" />
        <div class="email">Email</div>
      </div>
      <div class="small-4 medium-3 columns">
        <img class="social" src="/images/Social.png" />
        <div class="social">Social</div>
      </div>
      <div class="small-4 medium-3 columns">
        <img class="no" src="/images/None.png" />
        <div class="no">No</div>
      </div>
      <div class="small-4 small-centered medium-3 medium-uncentered columns">
        <img class="unknown" src="/images/DontKnow.png" />
        <div class="unknown">I don't know</div>
      </div>
    </div>
  </div>
</template>
