<template name="profile">
  <div class="step-profile">
    <h1>Do people create personal profiles?</h1>
    <div class="row">
      <div class="small-10 small-centered columns">
        <p>A profile means that some of the people that use your app will have to enter information about themselves that might be viewed publicly.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <img class="yes" src="/images/Profile.png" />
        <div class="yes">Yes</div>
      </div>
      <div class="small-4 columns">
        <img class="no" src="/images/None.png" />
        <div class="no">No</div>
      </div>
      <div class="small-4 columns">
        <img class="unknown" src="/images/DontKnow.png" />
        <div class="unknown">I don't know</div>
      </div>
    </div>
  </div>
</template>
